Language: Cpp
BasedOnStyle: LLVM
ColumnLimit: 160
IndentWidth: 2
MaxEmptyLinesToKeep: 2
NamespaceIndentation: All
TabWidth: 2
UseTab: Never
AllowShortBlocksOnASingleLine: Always
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignAfterOpenBracket: AlwaysBreak
AlignEscapedNewlines: Right
AlignTrailingComments: true
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLambdasOnASingleLine: Empty
AllowShortLoopsOnASingleLine: false
BreakAfterReturnType: None
BreakTemplateDeclarations: Yes
BreakConstructorInitializers: AfterColon
BreakInheritanceList: AfterColon
Cpp11BracedListStyle: true
IndentPPDirectives: AfterHash
IncludeBlocks: Preserve
PointerAlignment: Left
SortUsingDeclarations: true
SortIncludes: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeRangeBasedForLoopColon: false
BreakBeforeBraces: Attach